*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

header{
	height: 70px;
	width: 100%;
	background-color: #EC715F;
}

nav{
	width: 1024px;
	margin: 0 auto;
}

.list{
	float: right;
	padding-top: 20px;
}

.list a{
	color: #FAFAFA;
	margin: 0 30px 0 30px;
}

.main_img{
	height: 650px;
	width: 100%;
	background-image: url(../img/mv.png);
	background-position: center;
	background-size: cover;
	text-align: center;
}

.title{
	color: #FAFAFA;
	padding-top: 200px;
}

.title h1{
	font-size: 64px;
}
.title p{
	margin-top: 10px;
	font-size: 20px;
}

.protfolio{
	background-color: #ECEFF1;
	height: 850px;
	width: 100%;
	text-align: center;
}

.pp{
	width: 920px;
	margin: 0 auto;
}

.pp h1{
	padding-top: 90px;
	font-size: 32px;
	display: inline-block;
	border-bottom: solid #EC715F;
}
.pp p{
	padding-top: 30px;
	font-size: 16px;
}

.imglist{
	padding-top: 30px;
}

.feature{
	height: 700px;
	width: 100%;
	text-align: center;
}

.ff{
	width: 980px;
	margin:0 auto;
}

.ff h1{
	font-size: 32px;
	display: inline-block;
	border-bottom: solid #EC715F;
	padding-top: 90px;
}

.ff p{
	padding-top: 30px;
}

